.game-area {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("/assets/img/table.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-position {
  position: absolute;
  right: 0;
  z-index: 1;
}

.pin-bottom {
  position: absolute;
  left: 10vw;
  right: 250px;
  bottom: 2vh;
  @media (max-width: 720px) {
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.game-over {
  position: absolute;
  z-index: 200;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50vw;
    min-width: 330px;
    max-width: 560px;
    height: auto;
  }

  span {
    position: absolute;
    font-size: 52px;
  }
}

.card-circle {
  position: relative;
  height: 100vh;
  width: calc(100vw - 250px);
}

.card {
  position: absolute;
  left: 50%;
  top: 37.5vh;
  height: 20vh;
  width: calc(20vh / 726 * 500);
  transform: rotate(var(--orgDegrees)) translateY(-32.5vh);
  cursor: pointer;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  @media (max-width: 1200px) {
    transform: rotate(var(--orgDegrees)) translateY(-29vh);
  }
  @media (max-width: 1100px) {
    transform: rotate(var(--orgDegrees)) translateY(-23vh);
  }
}

.card-back,
.card-front {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.15);

  img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
}

.card-back {
  &:hover {
    filter: brightness(0.7);
  }
}

.card-front {
  transform: rotateX(180deg);
}

.distribute-card {
  opacity: 0;
  animation-name: distributeCards;
  animation-timing-function: linear;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: var(--animation-delay);
}

@keyframes distributeCards {
  from {
    opacity: 1;
    left: 50%;
    top: 37.5vh;
    transform: none;
  }

  to {
    opacity: 1;
    left: 50%;
    top: 37.5vh;
    transform: rotate(var(--orgDegrees)) translateY(-32.5vh);
  }
}

.taking-card {
  animation-name: takeCardAnimation;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.48, 0.05, 0.35, 0.93);
  animation-fill-mode: forwards;
}

@keyframes takeCardAnimation {
  0% {
    transform: rotate(var(--orgDegrees)) translateY(-32.5vh);
  }

  20% {
    transform: rotate(var(--orgDegrees)) translateY(-45vh);
  }

  25% {
    z-index: 100;
    transform: rotate(var(--orgDegrees)) translateY(-45vh) rotateX(-120deg)
      scale(1.2);
  }

  30% {
    z-index: 100;
    transform: rotate(var(--orgDegrees)) translateY(-45vh) rotateX(-180deg)
      scale(1.2);
  }

  100% {
    z-index: var(--level);
    transform: rotate(var(--degrees)) translateX(var(--XOffset))
      translateY(var(--YOffset)) rotateX(-180deg) scale(1);
  }
}

.scrollcontainer {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0px;
  max-height: 200px;
  top: 12rem;
}

app-player,
app-player-mobile {
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}

.card-taken {
  z-index: var(--level);
  transform: rotate(var(--degrees)) translateX(var(--XOffset))
    translateY(var(--YOffset)) rotateX(-180deg);
}

.buttons {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  width: 20vw;
  height: 8vh;
  bottom: 3vh;
  right: 0;
  max-width: 180px;
}
.btn {
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 5px;
}

.gameOver{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img{
    width: 90vw;
    height: 70vh;
    border-radius: 5%;
  }
}

@keyframes takeCardMobile {
  0% {
    transform: translateY(12.5vh);
  }

  20% {
    transform: translateY(20vh);
  }

  25% {
    z-index: 100;
    transform: translateY(20vh) rotateX(-120deg) scale(1.2);
  }

  30% {
    z-index: 100;
    transform: translateY(20vh) rotateX(-180deg) scale(1.2);
  }

  100% {
    z-index: var(--level);
    transform: translateX(40vw) translateY(0vh) rotateX(-180deg) scale(1);
  }
}

@keyframes distributeMobile {
  from {
    opacity: 1;
    left: 2rem;
    top: 5rem;
  }

  to {
    opacity: 1;
    left: 2rem;
    top: 2rem;
  }
}

@media (max-width: 950px) {
  .distribute-card {
    opacity: 0;
    animation-name: distributeMobile;
    animation-timing-function: linear;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: var(--animation-delay);
  }
  .card {
    transform: none;
    left: 2rem;
    top: 2rem;
  }
  .taking-card {
    animation: takeCardMobile;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.48, 0.05, 0.35, 0.93);
    animation-fill-mode: forwards;
  }
  .card-taken {
    z-index: var(--level);
    transform: rotate(var(--degrees)) translateX(40vw) translateY(0)
      rotateX(-180deg);
  }
}
@media (max-width: 720px) {
  .buttons {
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    bottom: 10rem;
    left: 0;
    height: auto;
  }
}
@media (min-height: 760px) {
  .scrollcontainer {
    max-height: 300px;
    top: 15rem;
  }
}
@media (min-height: 970px) {
  .scrollcontainer {
    max-height: 450px;
    top: 18rem;
  }
}
