<h1 mat-dialog-title>Add new player</h1>

<mat-dialog-content [formGroup]="form">

  <p>Please enter the name of a player.</p>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <p>Please choose an avatar</p>

  <div class="avatar">
    <label *ngFor="let picture of allProfilePictures;let i=index">
      <input type="radio" name="picture" [value]="picture" formControlName="picture">
      <img [class.checked]="form.value.picture==picture" src="./assets/img/User/{{ picture }}">
    </label>
  </div>

</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">No Thanks</button>
  <button mat-button [disabled]="form.value.name.length==0||form.value.avatar==''" [mat-dialog-close]="form.value">Ok</button>
</div>
